.navigation{
    padding: 10px 0;
    .logo{

        img{
            width: 100%;
            height: 60px;
            object-fit: cover;
        }
    }

    .navi-nav{
        justify-content: center;
    }

    .call-us{

        a{
            text-decoration: none;
            color: $btnText;
        }
    }
    .drop-item{
        min-width: 50px;
        text-transform: capitalize;
        background-color: $bgColor;
        color: $mainColor;
        border-radius: 5px;
        border: 1px solid $btnColor;
        opacity: 0.8;
        text-align: center;

        li{
            padding-bottom: 10px;
        }
        
    }

}

.custom-nav{
    

    li{
        margin-left: 15px;
        a{
            color: $btnText; 
            font-size: 0.85rem;
                
            i{
                display: none;
            }
        }
    }

}




