.process-section{
    padding: 150px  0;

   

    .facility{
        padding: 50px 0;
        border-bottom: 1px solid $borderColor;
        h3{
            position: relative;
                
                span{
                    color: $numColor;   
                    font-weight: 600;
                    padding-right: 15px;
                } 

            button{
                    font-size: 1.2rem;
                    font-weight: 700;
                    font-family: $mainFont;
                    text-transform: $textUpper;
                    color: $mainColor; 
                    padding-bottom: 10px;
                .fas{
                    color: transparent;
                    -webkit-text-stroke-color: $mainColor;
                    -webkit-text-stroke-width: 0.5px;

                    padding-left: 20px;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }



        }
    }

}